@font-face {
    font-family: AcadNusx;
    src: url("/Fonts/BPG_Algeti_2018.ttf");
  }

#logIn {
    font-family: AcadNusx;
    color: var(--1st);
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    padding: 10px 37px;
    border: 1px #d7cece;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
    width: 100%;
}

#aboutHead {
  font-family: AcadNusx;
  font-size: 30px;
  padding-bottom: 30px;
}


.abotDiv {
    margin-top: 5%;
    text-align: center;
    width: 80%;
    margin-left: inherit;
    margin-left: 10%;
}

#textAbout {
    font-size: 25px;
    color: black;
    font-family: AcadNusx;
    line-height: 40px;
    letter-spacing: 0.5px;
}

#textAbout::selection {
    background-color: #73C2FB;
}

.photo-container {
    grid-area: photoMail;
}

.square1 {
  grid-area:squ1 ;
}
.square2 {
  grid-area:squ2 ;
}
.square3 {
  grid-area:squ3 ;
}
.square4 {
  grid-area:squ4 ;
}

.square-container {
  display: grid;
  grid-template-areas: 'squ1 squ2 squ3 squ4';
  justify-content: space-around;
  margin-top: 5%;
}

.square1 {
  font-size: 22px;
  border: 2px solid #00C9FF;
  border-radius: 15px;
  padding: 100px;
  animation: squ1 20s infinite;
}



@keyframes squ1 {
  0% {
    transform: rotateY(0deg) 
  }

  50% {
    transform: rotateY(180deg);
    background-image: url("/Images/bodyBack.jfif"); 
    background-size: cover;
  }

  100% {
    transform: rotateY(0deg) 
  }
}

.square2 {
  font-size: 22px;
  border: 2px solid #00C9FF;
  border-radius: 15px;
  padding: 100px;
  animation: squ2 20s infinite;
}

@keyframes squ2 {
  0% {
    transform: rotateY(0deg);
  }

  50% {
    transform: rotateY(180deg);
    background-image: url("/Images/batumi.jpg"); 
    background-size: cover;
  }

  100% {
    transform: rotateY(0deg);
  }
}



.square3 {
  font-size: 22px;
  border: 2px solid #92FE9D;
  border-radius: 15px;
  padding: 100px;
  animation: squ3 20s infinite;

}

@keyframes squ3 {
  0% {
    transform: rotateY(0deg) 
  }

  50% {
    transform: rotateY(180deg);
    background-image: url("/Images/akhasheni.jpg"); 
    background-size: cover;
  }

  100% {
    transform: rotateY(0deg) 
  }
}

.square4 {
  font-size: 22px;
  border: 2px solid #92FE9D;
  border-radius: 15px;
  padding: 100px;
  animation: squ4 20s infinite;

}

@keyframes squ4 {
  0% {
    transform: rotateY(0deg) 
  }

  50% {
    transform: rotateY(180deg);
    background-image: url("/Images/gergeti.jfif"); 
    background-size: cover;
  }

  100% {
    transform: rotateY(0deg) 
  }
}


.emailDiv {
    grid-area: emailDiv;
}

.mailBox {
    display: grid;
    grid-template-areas:'photoMail photoMail emailDiv emailDiv' ;
    justify-content: space-around;
    margin-top: 5%;
    padding-bottom: 80px;
}

.photo-container {
    font-family: AcadNusx;
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: 22px;
}

#mailPhoto {
    width: 70px;
}

.emailDiv {
    display: flex;
    justify-content: left;
    margin: auto;
    background-color: violet;
    width: 80%;
    margin-right: inherit;
    margin-right: 30%;
}

#emailStyle {
    font-size: 20px;
    font-family: AcadNusx;
    width: 100%;
    padding: 25px;
    outline: none;
    border-style: none;
    background-color: aliceblue;
}

#emailBut {
    font-family: AcadNusx;
    font-size: 24px;
    width: 30%;
    outline: none;
    border-style: none;
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
}

#emailBut::placeholder {
    font-family: AcadNusx;
    font-size: 24px;
}

#emailBut:hover {
    cursor: pointer;
    background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
}


/*footer */

.footer-container {
    background: linear-gradient(90deg, #132257 0%, #0C2340 100%);
}

.foot1 { grid-area: header; }
.foot2 { grid-area: menu; }
.foot3 { grid-area: main; }
.foot5 { grid-area: footer;}



.footer2-container {
  display: grid;
  width: 100%;
  align-items: center;
  grid-template-areas:
    'header header header header header header'
    'menu main main main main footer'
    'menu main main main main footer';
  background: linear-gradient(90deg, #132257 0%, #0C2340 100%);
}

.header2 {
  text-align: center;
}

.socMediaFooter {
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.foot2 {
  display: inline;
  width: 70%;
}

.foot5Style {
  font-size: 12px;
  text-align: right;  
  margin-right: inherit;
  margin-right: 25px;
  margin-top: 10px;
  color: #E1EBEE;
  font-family: boldText;
}

.socMediaDiv {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: auto;
}

.foot3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 30px;
  margin-left: inherit;
  margin-left: 13%;
}

.footerNav {
  font-family: AcadNusx;
  text-decoration: none;
  font-size: 25px;
  color: #E1EBEE;
  padding: 5px;
}

.footerNav:hover {
  text-decoration: underline;
}

.addressDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left:37%;
  line-height: 40px;
}

#addressStyleH {
  font-size: 30px;
  color: #E1EBEE;
  font-family: boldText;
}

#addressPStyle {
  font-size: 15px;
  color: #E1EBEE;
  font-family: lightText;
}




