* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(#151515, #3125CC)
}

.mainHeader {
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
    width: 100px;
}

#logoStyle {
    width: 50px;
    padding: 20px;
}

.headerTextDiv {
    display: flex;
    align-items: center;
}

#headerText {
    text-align: center;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: -webkit-linear-gradient(#E056F6, #FAFE4D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 27px;
}

#mainLogoStyle {
    width: 41px;
    height: 41px;
    flex-shrink: 0;
}

.firstDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.thirdDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

#discoverText {
    color: #FFF;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#joinText {
    color: #FFF;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 340px;
}

.firstDiv {
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #2E2E2E 0%, rgba(46, 46, 46, 0.00) 100%);
    width: 98px;
    height: 100px;
    flex-shrink: 0;
}

.secondDiv {
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #2E2E2E 0%, rgba(46, 46, 46, 0.00) 100%);
    width: 98px;
    height: 100px;
    flex-shrink: 0;
}

.thirdDiv {
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #2E2E2E 0%, rgba(46, 46, 46, 0.00) 100%);
    width: 98px;
    height: 100px;
    flex-shrink: 0;
}

.centerDiv {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.sameDiv {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#navMenuText {
    color: #FFF;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

#navMenuText:hover{
    text-decoration: underline;
}

.mainDiv {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 200px;
}

#photoStyle {
    width: 213px;
    height: 191px;
    flex-shrink: 0;
}

.firstPhotoColla {
    display: flex;
}

.SecondPhotoColla {
    display: flex;
}