
@font-face {
  font-family: lightText;
  src: url("./Fonts/OpenSans-Light.ttf");

}
@font-face {
  font-family: mediumText;
  src: url("/Fonts/OpenSans_SemiCondensed-SemiBold.ttf");
}

@font-face {
  font-family: boldText;
  src: url("/Fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-family: AcadNusx;
  src: url("/Fonts/BPG_Algeti_2018.ttf");
}

.footer-container {
    background: -webkit-gradient(linear, left top, right top, from(#132257), to(#0C2340));
    background: -o-linear-gradient(left, #132257 0%, #0C2340 100%);
    background: linear-gradient(90deg, #132257 0%, #0C2340 100%);
}

.foot1 { -ms-grid-row: 1; -ms-grid-column: 1; -ms-grid-column-span: 6; grid-area: header; }
.foot2 { -ms-grid-row: 2; -ms-grid-row-span: 2; -ms-grid-column: 1; grid-area: menu; }
.foot3 { -ms-grid-row: 2; -ms-grid-row-span: 2; -ms-grid-column: 2; -ms-grid-column-span: 4; grid-area: main; }
.foot5 { -ms-grid-row: 2; -ms-grid-row-span: 2; -ms-grid-column: 6; grid-area: footer;}



.footer2-container {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
      grid-template-areas:
    'header header header header header header'
    'menu main main main main footer'
    'menu main main main main footer';
  background: -webkit-gradient(linear, left top, right top, from(#132257), to(#0C2340));
  background: -o-linear-gradient(left, #132257 0%, #0C2340 100%);
  background: linear-gradient(90deg, #132257 0%, #0C2340 100%);
}

footer {
  width: 100%;
}


.header2 {
  text-align: center;
}

.socMediaFooter {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.foot2 {
  display: inline;
  width: 70%;
}

.foot5Style {
  font-size: 12px;
  text-align: right;  
  margin-right: inherit;
  margin-right: 25px;
  margin-top: 10px;
  color: #E1EBEE;
  font-family: boldText;
}

.socMediaDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  margin: auto;
}

.foot3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 30px;
  margin-left: inherit;
  margin-left: 13%;
}

.footerNav {
  font-family: AcadNusx;
  text-decoration: none;
  font-size: 25px;
  color: #E1EBEE;
  padding: 5px;
}

.footerNav:hover {
  background: -webkit-gradient(linear, left top, right top, from(#efd5ff), to(#515ada));
  background: -o-linear-gradient(left, #efd5ff 0%, #515ada 100%);
  background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.addressDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left:37%;
  line-height: 40px;
}

#addressStyleH {
  font-size: 30px;
  color: #E1EBEE;
  font-family: boldText;
}

#addressPStyle {
  font-size: 15px;
  color: #E1EBEE;
  font-family: lightText;
}