@font-face {
    font-family: lightText;
    src: url("/Fonts/OpenSans-Light.ttf");

}
@font-face {
    font-family: mediumText;
    src: url("/Fonts/OpenSans_SemiCondensed-SemiBold.ttf");
}

@font-face {
    font-family: boldText;
    src: url("/Fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-family: AcadNusx;
  src: url("/Fonts/acadnusx.ttf");
}

@font-face {
  font-family: AcadNusx;
  src: url("/Fonts/BPG_Algeti_2018.ttf");
}


:root {
  --2: #E1EBEE;
}


.runningLine {
    display: flex;
    position: fixed;
    background: linear-gradient(90deg, #132257 0%, #0C2340 100%);
    bottom: 0;
    width: 100%;
    padding: 25px;
    color: var(--1st);
    font-size: 28px;
    font-family: AcadNusx;
  }
  
  .runningLine_content {
    width: 100%;
    transform: translateX(-200%); 
    animation: move 20s linear infinite; 
    color: var(--2);
  }

  @keyframes move {
    to { transform: translateX(200%); }
  }

  @media screen and (max-width: 600px) {
    .runningLine {
      font-size: 10px;
    }
  }