@font-face {
    font-family: lightText;
    src: url("./Fonts/OpenSans-Light.ttf");

}
@font-face {
    font-family: mediumText;
    src: url("/Fonts/OpenSans_SemiCondensed-SemiBold.ttf");
}

@font-face {
    font-family: boldText;
    src: url("/Fonts/OpenSans-Bold.ttf");
}

@font-face {
    font-family: AcadNusx;
    src: url("/Fonts/BPG_Algeti_2018.ttf");
}

:root {
    --1st: #212832;
}

:root {
    --2: #E1EBEE;
}




body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    background: linear-gradient(90deg, #132257 0%, #0C2340 100%);
}


* {
    margin: 0px;
    padding: 0px;
}

.header1 { grid-area: header; }
.header2 { grid-area: menu; }
.header3 { grid-area: right; }

.header-container {
  display: grid;
  justify-content: space-around;
  align-items: center;
  padding: 25px 20px;
  grid-template-areas:
    'menu header header header right right';
    overflow: hidden;
}

.tour {
    float: left;
    overflow: hidden;
  }

  .hotel {
    float: left;
    overflow: hidden;
  }

  .tour .tourBt {
    font-size: 22.612px;
    border: none;
    outline: none;
    color: var(--2);
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
    font-family: AcadNusx;
  }

  .hotel .hotelBt {
    font-size: 22.612px;
    border: none;
    outline: none;
    color: var(--2);
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
    font-family: AcadNusx;
  }

  .tour:hover .tourBt {
    cursor: pointer;
  }

  .hotel:hover .hotelBt {
    cursor: pointer;
  }

  .tour-content {
    display: none;
    position: absolute;
    background: linear-gradient(90deg, #132257 0%, #0C2340 100%);
  }

  .hotel-content {
    display: none;
    position: absolute;
    background: linear-gradient(90deg, #132257 0%, #0C2340 100%);
  }

  .tour-content a {
    float: none;
    color: var(--2);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-family: AcadNusx;
  }

  .hotel-content a {
    float: none;
    color: var(--2);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-family: AcadNusx;
  }

  .tour-content a:hover {
    color: var(--1st);
    background-color: #ddd;
  }

  .hotel-content a:hover {
    color: var(--1st);
    background-color: #ddd;
  }

  .tour:hover .tour-content {
    display: block;
  }

  .hotel:hover .hotel-content {
    display: block;
  }

.header3 {
    display: flex;
    justify-content: space-between;
}

nav {
    position: fixed;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto);
    gap: 10px;
    background-color: #f5f5f5 ;
    padding: 10px;
  }

  #titleStyle {
    font-family: boldText;
    font-size: 32px;
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }

  #titleStyle :last-child {
    display: inline-block;
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    position: relative;
    animation: flip 5s infinite;
  }


 ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    margin-left: inherit;
    margin-left: 10%;
    margin-right: 10%;
}



li a {
    text-decoration: none;
    color: var(--1st);
    font-family: "lightText";
    font-size: 22.612px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color:var(--2);
}

#navStyle {
    font-family: AcadNusx;

}

li a:hover {
    text-decoration: underline;
}




select {
    font-family: "mediumText";
    font-size: 22.612px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-style: none;
    outline: none;
    background-color: #0C2340;
    color: var(--2);
    cursor: pointer;
}



option {
    color: var(--1st, #212832);
    font-family: "mediumText";
    font-size: 22.612px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: var(--2);
}

#logIn {
    font-family: AcadNusx;
    color: var(--1st);
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    padding: 10px 37px;
    border: 1px #d7cece;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
}

#logIn:hover {
    background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
    
}




@keyframes flip {
    0% {
      transform: rotateY(30deg) 
    }

    20% {
        transform: rotateY(40deg);
        
    }

    40% {
        transform: rotateY(50deg);
        
    }

    60% {
        transform: rotateY(60deg);
       
    }

    80% {
        transform: rotateY(40deg);
    }
       

    100% {
        transform: rotateY(30deg);
       
    }
  }
  


 @media screen and (max-width: 600px) {

    

      #titleStyle {
        grid-area: title;
        font-family: boldText;
        font-size: 13px;
        background: linear-gradient(to right, #F7B733 , #09868b,#e0474c, #600473);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
      }
    
      #titleStyle :last-child {
        background: linear-gradient(to right, #51e2f5, #9df9ef,#ffa8B6, #a28089);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
      }

      .header-container {
        display: grid;
        grid-template-areas:
          'menu menu menu menu menu right'
          'header header header header header header';
      }
      

      ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style-type: none;
        margin-left: inherit;
        border: none;
    }
    
    li a {
        text-decoration: none;
        color: var(--1st);
        font-family: "Google Sans";
        font-size: 7.612px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
  

    select {
        color: var(--1st, #212832);
        font-family: "Google Sans";
        font-size: 7.612px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        border-style: none;
        outline: none;
        background-color: #f5f5f5;
        position: relative;
        top: 0px;
        right: 0px;
    }
    
    option {
        color: var(--1st, #212832);
        font-family: "Google Sans";
        font-size: 7.612px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }


    .header2 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header3 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}  