@font-face {
    font-family: lightText;
    src: url("./Fonts/OpenSans-Light.ttf");

}
@font-face {
    font-family: mediumText;
    src: url("/Fonts/OpenSans_SemiCondensed-SemiBold.ttf");
}

@font-face {
    font-family: boldText;
    src: url("/Fonts/OpenSans-Bold.ttf");
}

@font-face {
    font-family: AcadNusx;
    src: url("/Fonts/BPG_Algeti_2018.ttf");
}

:root {
    --1st: #212832;
}


* {
    margin: 0;
    padding: 0;
}

header {
  position: fixed;
  width: 100%;
  background: linear-gradient(90deg, #132257 0%, #0C2340 100%);
  z-index: 100;
}

main{
    min-height: calc(100vh - 334px);
}
.item1 { grid-area: enter; }
.item2 { grid-area: header; }
.item3 { grid-area: menu; }
.item4 { grid-area: registration;}


.login-container {
  display: grid;
  grid-template-areas:
    'enter enter enter enter enter enter'
    'menu menu menu menu menu menu'
    'registration registration registration registration registration registration';
  gap: 10px;
  padding: 10px;
  margin-top: 10%;
}

.login-container > div {
  text-align: center;
  padding: 20px;
}

#log {
    border-radius: 7px;
    width: 35%;
    padding: 20px;
    border: 1px solid #0093E9; 
    outline: none;
    font-family: AcadNusx;
}

#log:focus {
    color: #000;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}

#log:focus::placeholder {
    color: #000;
    font-family: AcadNusx;
}

#pass {
    font-family: AcadNusx;
    border-radius: 7px;
    width: 35%;
    padding: 20px;
    border: 1px solid #0093E9; 
    outline: none;   
}

#pass:focus {
    color: #000;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}

#pass:focus::placeholder {
    font-family: AcadNusx;
    color: #000;
}

#passRes {
    border-style: none;
    outline: none;
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
}

#passRes:hover {
    text-decoration: underline;
}

#logIn {
    width: 35%;
}

#logIn:hover {
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);    
}

#registration {
    width: 35%;
    font-family: AcadNusx;
    color: var(--1st);
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    padding: 10px 37px;
    border: 1px #d7cece;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
}

#registration:hover {
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);    
}


.remember {
    display: flex;
    justify-content: left;
    margin: inherit;
    margin-left: 15%;
    margin-right: 10%;
    font-size: 15px;
}

.remember p {
    margin-left: 8px;
}

.item2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: inherit;
    margin-right: 25%;
    margin-left: 17%;
}
