@font-face {
  font-family: lightText;
  src: url("./Fonts/OpenSans-Light.ttf");

}
@font-face {
  font-family: mediumText;
  src: url("/Fonts/OpenSans_SemiCondensed-SemiBold.ttf");
}

@font-face {
  font-family: boldText;
  src: url("/Fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-family: AcadNusx;
  src: url("/Fonts/BPG_Algeti_2018.ttf");
}

:root {
  --1st: #212832;
}

:root {
  --2: #E1EBEE;
}


main {
    background-image: linear-gradient( #fff1eb 0%, #eef1f5 100%);  
    height: 100%;
}

.item1 { grid-area: header; }
.item2 { grid-area: menu; }


.grid-container {
  width: 100%;
  position: absolute;
  top: 350px;
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu menu menu menu menu menu';
  gap: 10px;
}

.item1 {
  display: flex;
  margin: auto;
}

.item2 {
  margin-left: inherit;
  margin-left: 30%;
}

.nextTourText {
  font-family: AcadNusx;
  color: var(--1st);
}

.nextTourSearch {
  width: 30%;
  padding: 13px;
  font-family: AcadNusx;
  outline: none;
  border: 1px #d7cece;
  border-radius: 8px;
}

.dateTour {
  width: 20%;
  padding: 13px;
  outline: none;
  border: 1px #d7cece;
  border-radius: 8px;
}

.reservTour {
  width: 12%;
  padding: 14px;
  cursor: pointer;
  font-family: AcadNusx;
  outline: none;
  background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
  border: 1px #d7cece;
  border-radius: 8px;
}

.reservTour:hover {
  background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);

}

.season-container {
    display: grid;
    grid-template-columns: auto auto ;
    grid-gap: 40px;
    padding: 10px;
    width: 60%;
    height: 600px;
    margin-top: 100px;
  }
  
  .item1 {
    display: flex;
    align-items: center;
    justify-content: left;
  }

  .seasonClass {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .example {
    opacity: 0.75;
    height: 100%;
  }

  #gergeti {
    width: 100%;
    height: 100%;
    background-size: cover;
  }

  @media screen and (max-width: 600px) {

    .item1 {
      display: flex;
      margin: auto;
    }
    
    .item2 {
      margin-left: inherit;
      margin-left: 20%;
    }

    .nextTourText {
      font-size: 12px;
      font-family: AcadNusx;
    }

    .nextTourSearch {
      font-size: 5px;
      width: 40%;
      padding: 6px;
      font-family: AcadNusx;
      outline: none;
      border: 1px #d7cece;
      border-radius: 8px;
    }
    
    .dateTour {
      font-size: 5px;
      width: 25%;
      padding: 6px;
      outline: none;
      border: 1px #d7cece;
      border-radius: 8px;
    }
    
    .reservTour {
      font-size: 5px;
      width: 15%;
      padding: 6px;
      cursor: pointer;
      font-family: AcadNusx;
      outline: none;
      background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
      border: 1px #d7cece;
      border-radius: 8px;
    }

    .example {
      height: 100%;
    }
  
    #gergeti {
      width: 100%;
      height: 100%;
      background-size: cover;
    }

  }