@font-face {
    font-family: AcadNusx;
    src: url("/Fonts/BPG_Algeti_2018.ttf");
}



.item1 { grid-area: header; }


.reg-container {
  display: grid;
  grid-template-areas:
    'header header header header header header';
  gap: 10px;
  padding: 20px;
  font-family: AcadNusx;
  margin-top: 150px;
  padding-bottom: 100px;
}


.regText {
    font-size: 25px;
}

#fname {
    width: 20%;
    padding: 15px;
    font-size: 20px;
    outline: none;
    border-style: none;
    background-color:whitesmoke;
}

#lname {
    width: 20%;
    padding: 15px; 
    font-size: 20px;
    margin-left: 18px;
    outline: none;
    border-style: none;
    background-color:whitesmoke;
}

#phoneNumber {
    width: 20%;
    padding: 15px; 
    font-size: 20px;
    margin-left: 18px;
    outline: none;
    border-style: none;
    background-color:whitesmoke;
} 

#personalNum {
    width: 20%;
    padding: 15px; 
    font-size: 20px;
    margin-left: 18px;
    outline: none;  
    border-style: none;
    background-color:whitesmoke;
}

#email {
    width: 20%;
    padding: 15px; 
    font-size: 20px;
    margin-left: 18px;
    outline: none;  
    border-style: none;
    background-color:whitesmoke;
}

#password {
    width: 20%;
    padding: 15px; 
    font-size: 20px;
    margin-left: 18px;
    outline: none; 
    border-style: none;
    background-color:whitesmoke;
}

#birthday {
    width: 15%;
    padding: 15px;
    outline: none;
    border-style: none;
    background-color:whitesmoke;
}

#reg {
    width: 20%;
    font-size: 25px;
    padding: 10px;
    outline: none;
    border-style: none;
    cursor: pointer;
    font-family: AcadNusx;
}

