body {
    background-color: #2b2727;
}

* {
  margin: 0px;
  padding: 0px;
}

@font-face {
    font-family: Arial ;
    src: url("/fonts/arial_geo-bold-italic.ttf");
}

header {
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: rgb(163, 196, 196);
}

header a {
    padding: 8px;
    text-decoration: none;
    margin: 15px;
    color: #2b2727;

}

header a:hover {
    text-decoration: underline;
}

.navMenu{
    display: flex;
    justify-content: center;
}

#HeaderText {
    color: #2b2727;
    text-align: center;
    font-family: Arial;
    letter-spacing: 5px;
    text-shadow: 2px 3px 2px rgb(83, 172, 109);
}

#maincImages {
    border-radius: 100px;
    width: 200px;
    height: 150px;
    padding:40px;
    margin-top: 100px;
}

#maincImages:hover {
    transition:ease 2.5s;
    transform: skew(10deg);
    width: 400px;
    height: 300px;
    border-radius: 70%;
}

.divImages1 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.mainText p {
    font-size: 20px;
    color: #e0d4d4;
    text-align: center;
}

.mainText {
    border: 3px rgb(51, 42, 42);
    font-family: Arial;
    border-style:outset;
    border-radius: 50%;
    padding: 30px;
    margin-left: 20%;
    width: 500px;
    margin-top: 130px;
    position: relative;
    animation: maincText 25s infinite;
    
}

@keyframes maincText {

    0% {
        left: 0%;
    }

    25% {
        left:20%;
    }

    50% {
        left: 0%;
    }

    75% {
        left: 20%;
    }

    100% {
        left: 0%;
    }

}

.mainSlider {
    display: flex;
    justify-content: center;
    margin-top: 230px;
}


.slider {
    animation: sliderAnimation 15s infinite;
    padding: 40px;
    border-radius: 50%;
    width: 300px;
    height: 250px;
    background-size: cover;
}

@keyframes sliderAnimation  {
    0% {
        background-image: url('/Images/charlie1.png');
}
    50% {
        background-image: url('/Images/clint.jpg');
}
    100% {
        background-image: url('/Images/deniro.png');
        }
}

.sliderText {
    width: 400px;
    text-align: center;
    margin-top: 130px;
    color: #e0d4d4;
    letter-spacing: 0.5px;
    font-family: Arial;
}


table {
    width: 300px;
    height: 50px;
}

table tr th {
    border: 2px solid rgb(152, 163, 185);
    color: #e0d4d4;
    font-family: arial;
    text-align: center;
    padding: 5px;
}

table tr th:hover {
    background-color: #77d2cf;
    text-shadow: 2px 3px 4px rgb(199, 55, 55);
}

table tr td {
    border: 2px solid rgb(174, 158, 158);
    color: #e0d4d4;
    text-align: center;
    padding: 10px;
}

table tr td:hover {
    background-color: #7cbda1;
    text-shadow: 2px 3px 4px rgb(93, 124, 32);
}

.mainTable {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 150px;
}

.logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    margin-top: 100px;
}

#logoStyle {
    width: 40px;
    border-radius: 60%;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
}

hr {
   color: #e0d4d4;
}

.mainHeaderText {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}

#footerHeaderTextStyle {
    color: #e0d4d4;
    font-family: Arial;   
}

.line {
    background-color: #e0d4d4;
    width: 80px;
    height: 2px;
    margin-top: 16px;
}

.georgianCin {
    display: flex;
    flex-direction: column;
    width: 80px;
    margin-top: 15px;
}

#textDecotration {
    color: #e0d4d4;
    text-decoration: none;
    padding: 5px;
}

#textDecotration:hover {
    text-decoration: underline;
}

.worldCin {
    display: flex;
    flex-direction: column;
    width: 170px;
    margin-top: 15px;
}

.holywood {
    display: flex;
    flex-direction: column;
    width: 125px;
    margin-top: 15px;
}

.subscribe {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin-top: 15px;
}

#email {
    border-radius: 30px;
    padding: 8px;
    margin-top: 15px;
    text-align: center;
}

#emailSubscribe {
    border-radius: 30px;
    padding: 8px;
}

#emailSubscribe:hover {
    background-color: crimson;
    color: #e0d4d4;
    cursor:pointer;
}


.copy p {
    color: #2b2727;
}

.lastFooterText {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 25px;
    background-color: rgb(163, 196, 196);
}

#privacyText {
    color: #2b2727;
    text-decoration: none;
}

#privacyText:hover{
    text-decoration: underline;
}

footer .mainHeaderText {
    margin-left: 13px;
    margin-right: 13px;
} 




