:root {
    --color1:rgb(195, 15, 153);
}

li::marker {
    color: var(--color1);
}

#randomText::selection {
    color: var(--color1);
    background-color: green;
}

#randomText:hover::before {
    content: "Please read this:";
    color: var(--color1);
}


#randomText::after {
    content: "Thank you for reading this nonsence";
    color: var(--color1);

}

#randomtext::first-letter {
    font-size: 28px;
    color: var(--color1);

}


#randomText::first-line {
    color: var(--color1);
    font-variant: small-caps;
}






