@font-face {
    font-family: Montserratbold;
    src: url("/lesson10Offline/fonts/Montserrat-Bold.ttf");
}

@font-face {
    font-family: Montserratlight;
    src: url("/lesson10Offline/fonts/Montserrat-Light.ttf");
}

body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}


.example {
    display: flex;
    justify-content: space-between;
    /* background-color: wheat; */
    height: 80%;
}

.firstFigur {
    width: 7%;
    height: 25%;
    background-color: #ebf8e3;
}

.secondFigur {
    width: 27%;
    height:710px;
    background-color: #ebf8e3;
}

.title {
    display: flex;
    justify-content: right;
    width: 20%;
    /* background-color: aqua; */
}

.navMenu {
    display: flex;
    justify-content: space-around;
    width: 40%;
    /* background-color: azure; */
    transform: translateX(-170px);
}

.butDiv {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 16%;
    /* background-color: blueviolet; */
}

.example2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 100%;
    position: absolute;
    /* background-color:brown; */
}

.example3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 10%;
    position: absolute;
    /* background-color: chartreuse; */
}

#titleStyle {
    font-family: Montserratbold;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.10000000149011612px;
    color: #252B42;
}

#navMenuStyle {
    font-family: Montserratlight;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    color: #737373;
    text-decoration: none;
}

#navMenuStyle:hover {
    text-decoration: underline;
}

#loginStyle {
    font-family: Montserratlight;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.20000000298023224px;
    text-align: right;
    color: #96BB7C;
    background: transparent;
    outline: none;
    border-style: none;
    cursor: pointer;
}

#joinUsStyle {
    font-family: Montserratlight;
    width: 137px;
    height: Hug (52px);
    padding: 17px 27px 17px 27px;
    color: #FFFFFF;
    border-radius: 5px;
    background-color: #96BB7C;
    border-style: none;
    cursor: pointer;
}

.arrowDiv {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* main Code */ 

.twoBigDiv {
    display: flex;
    justify-content: space-around;
    transform: translateY(-620px);
}

.firsrtDivText {
    display: flex;
    flex-direction: column;
    transform: translateX(160px);
    margin-top: 150px;
}

/*between text style */

#welcomeText {
    font-family: Montserratbold;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
    color: #96BB7C;
}

#betweenText {
    font-family: Montserratbold;
    font-size: 58px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #252B42;
}

.betweenTextDiv {
    width: 80%;
}

#thirdText {
    font-family: Montserratbold;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #737373;
}

.thirdTextDiv {
    width: 70%;
}

#secondJoinbut {
    width: 132px;
    height: 52px;
    background-color: #96BB7C;
    color: #FFFFFF;
    padding: 15px 40px 15px 40px;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
}

#learnBut {
    width: 162px;
    height: 52px;
    border-radius: 5px;
    border: 1px solid #96BB7C;
    padding: 15px 40px 15px 40px;
    color: #96BB7C;
    cursor: pointer;
}

.twoButton {
    display: flex;
    width: 40%;
    justify-content: space-between;
}

/* woman style */ 

#womanStyle {
    width: 288.22px;
    height:643px;
}

.womanDiv {
    transform: translatex(50px);
    display: flex;
    justify-content: center;
    position: relative;
    right: 230px;
}

/* figures */ 

.orangeFig {
    position: relative;
    right: -440px;
    bottom: -316.5px;
}

.whiteFig {
    transform: translateX(10px);
    margin-top: 280px;
    height: 12%;
}

.staticFigu {
    transform: translateX(275px);
    margin-top: 200px;
    width: 10%;
    height: 10%;
}

#staticFiguStyle {
    width: 210px;
}

.greenFig {
    height: 10%;
    transform: translateX(10px);
    margin-top: -60px;
    position: absolute;
}

/* three main photo and text */ 

#womanStyle2 {
    width: 412.02px;
    height: 277.35px;
    border-radius: 16.03px;
}

#DoctorManStyle {
    width: 206.81px;
    height: 290.18px;
    border-radius: 16.03px;
}

#teethCabinStyle {
    width: 266.13px;
    height: 259.72px;
    border-radius: 16.03px;
}

.twoImgDiv {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#singles18Style {
    position: absolute;
    top: 500px; 
    left: 510px;
    width: 132.09px;
    height: 66.62px;
}

#GlobalStatStyle {
    position: absolute;
    width: 222.83px;
    height: 207.89px;
    top: 168px;
    left: 655px;
}

.line {
    width: 94px;
    height: 7px;
    background-color: #E74040;
}

#doctorsTextStyle {
    font-family: Montserratbold;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #252B42;
}

#problemsTextStyle {
    font-family: Montserratbold;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #737373;
}

.LearnMore1 {
    display: flex;
    align-items: center;
    height: 7%;
}

#LearnMore1Style {
    font-family: Montserratbold;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #96BB7C;
    text-decoration: none;
}

.arrowGreen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
}

#greenArrowStyle {
    width: 9px;
    height: 16px;
}

.threeMainPhot {
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.mainExmaple {
    display: flex;
    flex-direction: column;
    width: 33%;
}

.secondexample {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
}

.oneBigDiv {
    display: flex;
    justify-content: center;
    transform: translateY(-300px);
}

/* second main */ 

.packageExample {
    display: flex;
    flex-direction: column;
    width: 23%;
}

.secondMainSecondDiv {
    display: flex;
    flex-direction: column;
    width: 20%;
}

#doctor2TextStyle {
    font-family: Montserratbold;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #252B42;
}

#problem2TextStyle {
    font-family: Montserratbold;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #737373;
}

.problem2Text {
    width: 80%;
}

.secondMainThirdDiv {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.line1 {
    width: 94px;
    height: 7px;
    background-color: #E74040;
}

.SecondLine {
    width: 50px;
    height: 2px;
    background-color: #E74040;
}

.thirdLine {
    width: 50px;
    height: 2px;
    background-color: #E74040;
}

#emergenyStyle {
    font-family: Montserratbold;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
}

#gradualStyle {
    font-family: Montserratbold;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #737373;
}

#frameStyle {
    width: 69.75px;
    height: 69.75px;
}

#VectorStyle {
    width: 63px;
    height: 69.75px;
}

.twoEmergencyDiv {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.threeDiv {
    display: flex;
    justify-content: center;
}



/* third main*/ 


#PainlessTextPStyle {
    font-family: Montserratbold;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color:#737373;
}

#PainlessTextStyle {
    font-family: Montserratbold;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #252B42;
}

#PracticeTextStyle {
    font-family: Montserratbold;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color:#96BB7C;
}

.thirdDivText {
    display: flex;
    flex-direction: column;
    justify-content: right;
    width: 53%;
}

.PainlessTextPPDiv {
    width: 35%;
}

.practiceBigDiv {
    display: flex;
    justify-content: center;
}

/* doctor an mediacaments magazine */ 

.threeImgMag {
    position: absolute;
    bottom: -2100px;
    left: 100px;
}

.sale {
    position: absolute;
    width: Hug (51px);
    height: Hug (24px);
    padding: 0px 10px 0px 10px;
    border-radius: 3px;
    background-color: #E74040;
}

#docManStyle {
    width: 209px;
    height: 378px;
}

#medicamentStyle {
    width: 209px;
    height: 378px;
}

#futureStyle {
    font-family: Montserratbold;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #96BB7C;
}

#appoinmentStyle {
    font-family: Montserratbold;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
    color: #252B42;
}

#focusStyle {
    font-family: Montserratbold;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #737373;
    width: 242px;
}

.guzDiv1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 175px;
    height: 24px;
    padding: 10px;
}
.guzDiv2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 175px;
    height: 24px;
    padding: 10px;
}

.priceDiv1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 230px;
}
.priceDiv2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 230px;
}

.threeminiLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    width:375px;
}

.clockDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
}
.waveDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
}
.progressDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
}

#miniLogo {
    width: 16px;
    height: 16px;
}

#miniLogoTextStyle {
    font-family: Montserratbold;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #737373;
}

#priceStyle {
    font-family: Montserratbold;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #737373;
}

#priceStyle :last-child {
    color:#FFAB71
}

#salesTextStyle {
    font-family: Montserratbold;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #737373;
}

#LearnMoreMagazine {
    font-family: Montserratbold;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #96BB7C;
    text-decoration: none;
    border: 1px solid #96BB7C;
    border-radius: 37px;
    padding: 10px 20px 10px 20px;
}

#greenArrowMagazine {
    width: 9.14px;
    height: 16px;

}

.LearnMoreMagazineDiv1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 210px;
    padding: 10px;
}
.LearnMoreMagazineDiv2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 210px;
    padding: 10px;
}

.futureDiv1 {
    width: 242px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.futureDiv2 {
    width: 242px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.appointDiv1 {
    width: 272px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.appointDiv2 {
    width: 272px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.focusDiv1 {
    width: 345px;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.focusDiv2 {
    width: 345px;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}



.magazinMenu {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 378px;
}

.doctorMagazinMenu {
    display: flex;
    justify-content: space-around;
    width: 70%;
}

.doctorMedicamentDiv {
    display: flex;
    justify-content: center;
}

/* .oneBigdocMedDiv {
    display: flex;
    background-color: #E74040;
    justify-content: space-around;
} */