body , html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.slider {
    width: 100%;
    height: 100%;
    background-size:cover;
    position: fixed;
    animation: sliderAnimation 10s infinite normal;
}

@keyframes sliderAnimation {
    0% {
        background-image: url(/lesson8Offline/image/iamge1.jpg);
    }
    50% {
        background-image: url(/lesson8Offline/image/image2.jpg);
    }
    100% {
        background-image: url(/lesson8Offline/image/image3.jpg);
    }
}