#randomLink:visited {
    color: rgb(140, 9, 9);
}

#randomLink {
    color: aquamarine;
}

#regButton:disabled {
    background-color:bisque;
}

#regButton:enabled{
    background-color: blue;
}

#firstName:focus {
    background-color: coral;
}

#lastName:focus {
    background-color:blueviolet;
}