#transitionText {
    background-color:rgb(176, 204, 228);
    width: 300px;
    text-align: center;
    padding: 15px 20px 15px 20px;
    font-family: 'Trebuchet MS';
}

#transitionText:hover{
    transition:padding 5s;
    transition:margin-top, 5s;
    transition:margin-left, 5s;
    background-color: rgb(182, 18, 146);
    color: white;
    padding: 40px;
    cursor:pointer;
    margin-top: 200px;
    margin-left: 200px;
} 